@import '../../shared/styles/variables';

.nav-dropdown-root {
    position: relative;
}

.nav-dropdown-control {
    position: relative;
    overflow: hidden;
    background-color: $color-white;
    border-radius: 25px;
    box-sizing: border-box;
    color: $color-black-blur;
    cursor: default;
    outline: none;
    padding: 4px 16px;
    padding-right: 25px;
    transition: all 1.5s ease;

    .nav-dropdown-placeholder {
        line-height: 28px;
        font-size: 14px;
    }
}

.nav-dropdown-control:hover {
    box-shadow: 0 1px 0 $color-gray-light;
}

.nav-dropdown-arrow {
    border-color: $color-black-light transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: ' ';
    display: block;
    height: 0;
    margin-top: -ceil(2.5);
    position: absolute;
    right: 15px;
    top: 14px;
    width: 0;
}

.is-open .nav-dropdown-arrow {
    border-color: transparent transparent $color-black-light;
    border-width: 0 5px 5px;
}

.nav-dropdown-menu {
    background-color: $color-white;
    border: 1px solid $color-white-blur;
    box-shadow: 0 1px 0 $color-gray-light;
    box-sizing: border-box;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: -1px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    width: 95%;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;
    border-radius: 5px;
}

.nav-dropdown-menu .nav-dropdown-group > .nav-dropdown-title {
    padding: 8px 10px;
    color: $color-black-blur;
    font-weight: bold;
    text-transform: capitalize;
}

.nav-dropdown-option {
    box-sizing: border-box;
    color: $color-black-blur;
    cursor: pointer;
    display: block;
    padding: 8px 10px;
}

.nav-dropdown-option:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.nav-dropdown-option:hover {
    background-color: $color-white-light;
    color: $color-black-blur;
}

.nav-dropdown-option.is-selected {
    background-color: $color-white-light;
    color: $color-black-blur;
}

.nav-dropdown-noresults {
    box-sizing: border-box;
    color: $color-gray;
    cursor: default;
    display: block;
    padding: 8px 10px;
}
