@import '../../shared/styles/variables';

.service-block {
    text-align: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    .title {
        h2 {
            font-size: 32px;
            color: #010101;
            text-align: center;
            padding-bottom: 12px;
            margin-top: 36px;
            width: 100%;
        }

        .gray-border {
            border-bottom: solid 1px $color-gray;
            max-width: 690px;
            margin: 0 auto;
        }

        .blue-border {
            border: 3px solid $color-blue;
            bottom: 4px;
            margin: 0 auto;
            position: relative;
            width: 58px;
        }
    }

    .content {
        text-align: center;
        padding: 45px 0;
    }
}
