@import '../../shared/styles/variables';

.bottom-menu {
    list-style: none;
    margin-top: 25px;

    > li {
        font-size: $font-medium;
        letter-spacing: 0.5px;

        i {
            color: $color-blue;
            margin-right: 5px;
        }
    }
}

h4 {
    font-size: $font-medium;
    text-transform: uppercase;
    color: $color-blue;
    margin-top: 0;
    margin-bottom: 15px;
}
