/** Color */
$color-red: #ff0000;
$color-green: #00ff00;
$color-blue: #273986;
$color-blue-light: #4568ff;
$color-blue-blur: #3c8dbc;
$color-cyan: #297ac573;
$color-orange: #f4831e;
$color-black: #000000;
$color-black-blur: #2e2c2c;
$color-black-light: #4d4d4d;
$color-white: #ffffff;
$color-white-light: #f2f2f2;
$color-white-blur: #f2f2f24a;
$color-gray: #666666;
$color-gray-overlay: #00000085;
$color-gray-light: #f5f5f580;
$color-cyan-light: #d8f4fe;
$color-teal: #445565;
$color-teal-gray: #44556587;
$color-teal-light: #e3e7eb;
$color-teal-blur: #ced4da;

/* Font size */
$font-small-ex: 11px;
$font-small: 13px;
$font-medium: 15px;
$font-large: 23px;
$font-large-ex: 25px;
