@import './variables';

.further-info {
    padding: 20px 20px 300px 20px;
    background-color: $color-white-blur;

    .support {
        text-align: center;
        padding-bottom: 20px;
    }

    .contact {
        padding-top: 35px;

        h3 {
            text-align: center;
        }

        ul {
            list-style: none;

            i {
                padding-right: 8px;
            }
        }

        a,
        a:hover,
        a:active {
            text-decoration: none;
            color: $color-black;
        }
    }
}
