@import './variables';

.fix-top {
    background-color: $color-blue-blur;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    .logo {
        float: left;
        padding: 15px 10px;
        padding-right: 0;
        color: $color-white;

        .text {
            font-size: 20px;
        }

        .logo-img {
            max-width: 40px;
            margin-right: 15px;
            margin-top: -8px;
        }

        .browse-btn {
            float: right;
            color: $color-white;
            font-size: 20px;
            padding: 0;
            outline: none;
            margin-top: -5px;
            cursor: pointer;

            &:hover,
            &:active,
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }

    .actions {
        float: right;

        .navbar-nav {
            padding-left: 0;
            list-style: none;
            display: block;

            > li {
                padding-left: 10px;
                position: relative;
                float: left;
                display: block;

                a {
                    padding: 15px 10px;
                    line-height: 20px;
                    position: relative;
                    display: block;
                    color: $color-white;
                }
            }
        }
    }
}
