@import './variables';

.search-form {
    background-color: $color-cyan-light;
    padding: 20px 50px;

    .title,
    .action-area {
        text-align: center;
    }

    .title {
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    .text-input {
        width: 100%;
        line-height: 28px;
        font-size: 14px;
        padding: 4px 16px;
        border-radius: 25px;
        outline: none;
        border: none;
        box-shadow: none;
    }

    .action-area {
        button {
            padding: 5px 25px;
            border-radius: 0px;
        }
    }

    .filter-area {
        .control {
            width: 100%;
            line-height: 28px;
            font-size: 14px;
            padding: 4px 16px;
            border-radius: 25px;
            outline: none;
            border: none;
            box-shadow: none;
        }
    }
}
