@import './variables';

.top-menu {
    background-color: $color-blue;

    .top-nav {
        overflow: hidden;
    }

    .top-nav a,
    .top-nav .icon  {
        float: left;
        display: block;
        color: $color-white-light;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .top-nav a:hover {
        background-color: $color-blue-light;
    }

    .active {
        background-color: $color-blue-light;
        color: $color-white;
    }

    .top-nav .icon {
        display: none;
        cursor: pointer;
    }

    @media screen and (max-width: 600px) {
        .top-nav a:not(:first-child) {
            display: none;
        }
        .top-nav span.icon {
            float: right;
            display: block;
        }
    }

    @media screen and (max-width: 600px) {
        .top-nav.responsive {
            position: relative;
        }
        .top-nav.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
        }
        .top-nav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
    }
}
