@import '../../shared/styles/variables';

.top-header {
  padding-top: 20px;
}

.brand {
    color: $color-blue;
    float: left;
    text-transform: uppercase;
    padding: 3px 0 0 10px;
    line-height: normal;

    .slogan {
        letter-spacing: .5px;
    }
}

.contact {
  .contact-item {
    height: 50px;
    border: 1px solid $color-orange;
    border-radius: 5px;
    padding: 10px;
    float: left;
    color: $color-orange;

    &:not(:first-child) {
      margin-left: 10px;
    }

    .content {
      float: left;
      padding-left: 10px;
      line-height: normal;
      margin-top: -3px;

      .small-text {
          color: $color-black;
      }
    }
  }
}

.top-menu {
  margin-top: 20px;
}

.logo-img {
  max-height: 55px;
}