@import '../../shared/styles//variables';

.sidebar {
    height: 100%;
    overflow-y: auto;
    .ant-menu {
        height: 100%;

        &.ant-menu-inline-collapsed {
            .ant-menu-item,
            .ant-menu-submenu {
                .text {
                    display: none !important;
                }
            }
        }

        .ant-menu-item,
        .ant-menu-submenu {
            .text {
                margin-left: 15px;
            }
        }

        ul {
            li:first-child {
                margin-top: 0;
            }
        }
    }
}
